@use '../../../../variables' as *;

:host {
  border-radius: 20px;
  box-shadow: 0 0 5px 0 white;;
  height: 100%;
  img {
    width: 150px;
    height: 225px;
      border-radius: 20px 20px 0 0;
  }

  .text-content {
    border-radius: 0 0 20px 20px;
    background-color: #979797;
    box-sizing: border-box;
    padding-left: 20px;
    h3 {
        color: $darkThemeMainTextColor;
      }
      p {
        color: $darkThemeMainTextColor;
    }
  }

}
