@use '../../../variables' as *;

:host {
  width: 100%;
  padding: 0 50px;
  box-sizing: border-box;

  .content-block {
    gap: 20px;
    .catalog-header {
      align-items: center;
      gap: 10px;
      h2 {
        color: $darkThemeMainTextColor;
      }
      .catalog-buttons {
        gap: 10px;
      }
    }

    .catalog-content {
      justify-content: space-between;
      gap: 5px;
    }
  }
}
