@use '@angular/material' as mat;

:host {
  display: flex;
  flex-direction: column;
  gap: 32px;
  min-height: 600px;
}

.search-form {
  display: flex;
  flex-wrap: wrap;
  margin: 32px auto 0;
  min-width: 320px;
  max-width: 540px;
}

.year-field,
.genre-field,
.search-field {
  flex-grow: 1;
}

.genre-field,
form button {
  margin-left: 20px;
}

.catalog-items-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
}

.poster {
  max-width: 150px;

  img {
    height: 240px;
  }
}
