<form class="search-form">
  <mat-form-field appearance="outline" class="search-field">
    <mat-icon matPrefix>search</mat-icon>

    <input
      matInput
      id="search"
      type="search"
      placeholder="Search..."
      autocomplete="off"
      [formControl]="searchControl"
      (focus)="onFocus()"
      (blur)="onBlur()"
    />
  </mat-form-field>
</form>
@if (isFocusOnInput() && searchResults().length > 0) {
  <ul class="search-results flex flex-column">
    <mat-icon matPrefix class="close" (click)="this.isFocusOnInput.set(false)">close</mat-icon>
    @for (item of this.searchResults(); track item.id) {
      <li [id]="item.id" (mousedown)="$event.stopPropagation()">
        <a [routerLink]="item.id.toString()" href="#">{{ item.title }}</a>
      </li>
    }
  </ul>
}
