@use '../../../../variables' as * ;

:host {
  max-width: 1320px;
  width: 100%;
  align-self: center;
  .search-form {
    width: 100%;
    .search-field {
      width: 100%;
    }
    .search-input{
      // width: 100%;
      // background-color: transparent;
      // border: 1px solid gray;
      // height: 30px;
      // border-radius: 20px;
      // color: $darkThemeMainTextColor;
    }
  }
}
