<mat-toolbar>
  <a routerLink="/" class="logo">
    <img ngSrc="/logo.svg" width="144" height="53" alt="Logo" priority />
  </a>

  <nav class="nav-links">
    @for (navItem of navItems; track navItem.id) {
      <a mat-button [routerLink]="navItem.id" routerLinkActive="active-link">
        {{ navItem.title }}</a
      >
    }
  </nav>

  <div class="management flex flex-row">
    <button matButton (click)="themeService.updateTheme()">
      <mat-icon>{{ themeModeText() + '_mode' }}</mat-icon>
    </button>
  </div>
</mat-toolbar>
