@use '../../../variables' as *;

:host {
  padding: 8px 0;
  border-bottom: 1px solid var(--mat-sys-outline-variant);
}

.mat-toolbar {
  justify-content: space-between;
}

a.active-link {
  background-color: var(--mat-sys-secondary-container);
  color: var(--mat-sys-on-secondary-container);
}
