@use '../../../variables' as *;

.mat-toolbar {
  justify-content: space-between;
}

a.active-link {
  background-color: var(--mat-sys-secondary-container);
  color: var(--mat-sys-on-secondary-container);
}
