<mat-toolbar>
  <a routerLink="/" class="logo">
    <img ngSrc="/logo.svg" width="126" height="54" alt="Logo" priority />
  </a>

  <nav class="nav-links">
    @for (navItem of navItems; track navItem.id) {
      <a
        mat-button
        [routerLink]="navItem.id"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        {{ navItem.title }}</a
      >
    }
  </nav>

  <div class="management flex flex-row">
    <button matButton>Theme</button>
  </div>
</mat-toolbar>
