@use '../../../variables' as *;

.mat-toolbar {
  justify-content: space-between;
}

a.active-link {
  background-color: var(--mat-sys-secondary-container);
  color: var(--mat-sys-on-secondary-container);
}

@media (max-width: 550px) {
  :host {
    height: 100%;
    padding: 10px 20px;
    .navigation {
      flex-direction: column;
      gap: 5px;
    }
    .management {
      align-self: flex-end;
      height: inherit;
      flex-direction: column;
      align-items: flex-end;
    }
  }
}
