@use '../../../variables' as *;

:host {
  background-color: $darkThemeMainBackround;
  height: 100%;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 20px 0;
  .test {
    background-color: var(--mat-sys-surface-bright);
  }
  .content-section {
    justify-content: center;
    gap: 30px;
    align-items: center;
    .poster {
      background-image: url('/poster.png');
      background-size: contain;
      background-repeat: repeat-x;
      height: 450px;
    }
  }
}
