@use '../../../variables' as *;

:host {
  height: 100%;
  border-top: 1px solid var(--mat-sys-outline);
  border-bottom: 1px solid var(--mat-sys-outline);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 20px 0;

  .content-section {
    justify-content: center;
    gap: 30px;
    align-items: center;
    .poster {
      background-image: url('/poster.png');
      background-size: contain;
      background-repeat: repeat-x;
      height: 450px;
    }
  }
}

@media (max-width: 885px) {
  :host {
    .content-section {
      .poster {
        background-size: cover;
      }
    }
  }
}
