:host {
  height: max-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding: 20px 0;
  .content-block {
    padding-top: 20px;
    h2 {
      padding-left: 50px;
    }
  }
}
