:host {
  .preview-catalog-slider {
    justify-content: space-between;
    gap: 20px;
    overflow: hidden;
    width: 100%;

    .track {
      transition: transform 0.3s ease;
      margin: 20px 0 20px;
      width: 100%;
    }

    .slider-buttons {
      align-self: self-end;
      padding-right: 20px;
      gap: 10px;
      margin: 5px;
    }
  }
}
