:host {
  .catalog-slider {
    justify-content: space-between;
    gap: 20px;
    overflow: hidden;
    width: 100%;

    .track {
      transition: transform 0.3s ease;
      gap: 20px;
      padding: 10px 0;
    }

    .slider-buttons {
      align-self: self-end;
      padding-right: 20px;
      gap: 10px;
    }
  }
}
