<div class="catalog-slider flex flex-column" #catalogSlider>
  <div class="track flex flex-row" [style.transform]="transform">
    <moviex-poster></moviex-poster>
    <moviex-poster></moviex-poster>
    <moviex-poster></moviex-poster>
    <moviex-poster></moviex-poster>
    <moviex-poster></moviex-poster>
    <moviex-poster></moviex-poster>
    <moviex-poster></moviex-poster>
    <moviex-poster></moviex-poster>
    <moviex-poster></moviex-poster>
    <moviex-poster></moviex-poster>
    <moviex-poster></moviex-poster>
    <moviex-poster></moviex-poster>
    <moviex-poster></moviex-poster>
    <moviex-poster></moviex-poster>
    <moviex-poster></moviex-poster>
    <moviex-poster></moviex-poster>
  </div>

  <div class="slider-buttons flex flex-row">
    <button matMiniFab (click)="showPrev()"><mat-icon>chevron_left</mat-icon></button>
    <button matMiniFab (click)="showNext()"><mat-icon>chevron_right</mat-icon></button>
  </div>
</div>
