:host {
  width: 320px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  .image {
    width: inherit;
    img {
      width: inherit;
    }
  }

  .info {
    gap: 10px;
    padding-left: 20px;
  }
}
