 <div class="catalog-slider" #catalogSlider>
    <div class="track flex flex-row" [style.transform]="transform">
      <moviex-poster></moviex-poster>
        <moviex-poster></moviex-poster>
        <moviex-poster></moviex-poster>
        <moviex-poster></moviex-poster>
        <moviex-poster></moviex-poster>
        <moviex-poster></moviex-poster>
         <moviex-poster></moviex-poster>
        <moviex-poster></moviex-poster>
        <moviex-poster></moviex-poster>
        <moviex-poster></moviex-poster>
        <moviex-poster></moviex-poster>
        <moviex-poster></moviex-poster>
        <moviex-poster></moviex-poster>
        <moviex-poster></moviex-poster>
        <moviex-poster></moviex-poster>
        <moviex-poster></moviex-poster>
</div>

   <div class="slider-buttons">
      <button (click)="showPrev()">+</button>
      <button (click)="showNext()">-</button>
    </div>
