:host {
  .catalog-slider {
    justify-content: space-between;
    gap: 20px;
    overflow-x: hidden;
    width: 100%;

    .track {
      transition: transform 0.3s ease;
      gap: 20px;
      padding: 10px 0;
    }

    .slider-buttons {
      align-self: self-end;
      padding-right: 20px;
      gap: 10px;
      .slider-button {
        width: 50px;
        height: 50px;
        background-color: transparent;
        border: 1px solid gray;
        border-radius: 10px;
        color: gray;
      }
    }
  }
}
