@use '../../../../../variables' as *;

:host {
  padding: 0 50px;
  box-sizing: border-box;
  width: 100%;

  .content-block {
    gap: 20px;
    .catalog-header {
      align-items: center;
      gap: 10px;
      .catalog-buttons {
        gap: 10px;
      }
    }
  }
}
