<div class="content-block flex flex-column">
  <div class="catalog-header flex flex-row">
    <h2>{{ catalogTitle() }}</h2>
    <div class="catalog-buttons flex flex-row">
      <!-- <moviex-catalog-button></moviex-catalog-button>
      <moviex-catalog-button></moviex-catalog-button> -->
    </div>
  </div>

  <moviex-slider></moviex-slider>

  <!-- <div class="catalog-slider">
    <div class="track flex flex-row" [class.transform]>
      <moviex-poster></moviex-poster>
        <moviex-poster></moviex-poster>
        <moviex-poster></moviex-poster>
        <moviex-poster></moviex-poster>
        <moviex-poster></moviex-poster>
        <moviex-poster></moviex-poster>
         <moviex-poster></moviex-poster>
        <moviex-poster></moviex-poster>
        <moviex-poster></moviex-poster>
        <moviex-poster></moviex-poster>
        <moviex-poster></moviex-poster>
           <moviex-poster></moviex-poster>
        <moviex-poster></moviex-poster>
        <moviex-poster></moviex-poster>
        <moviex-poster></moviex-poster>
        <moviex-poster></moviex-poster>
    </div> -->

  <!-- </div> -->
</div>
