<a class="rss-logo-link" href="https://rs.school/courses/angular" target="_blank">
  <img src="/rss-logo.svg" alt="rss-logo" />
</a>

<p>2026</p>

<nav class="flex flex-column">
  <h3>Our team:</h3>
  <ul class="flex flex-column">
    <li><a href="https://github.com/mariaparinova" target="_blank">Maria Parinova</a></li>
    <li><a href="https://github.com/DzmitryAliakseyeu" target="_blank">Dzmitry Aliakseyeu</a></li>
    <li><a href="https://github.com/kravius" target="_blank">Glib Shemenkov</a></li>
  </ul>
</nav>
