@use '../../../variables' as *;

:host {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 32px;
  padding: 20px;
  color: var(--mat-sys-outline);
  border-top: 1px solid var(--mat-sys-outline-variant);
}

.logos-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.rss-logo {
  background-color: transparent;
  border-radius: 100%;
  border: 1px solid var(--mat-sys-outline-variant);
}
