@use '../../../../variables' as *;

:host {
  border-radius: $border-radius-m;
  box-shadow: $shadow;
  flex: 0 0 calc(100% / 5 - 20px);
  overflow: hidden;
  margin: 10px;
  cursor: pointer;
  transition:
    box-shadow,
    color 0.3s;
  .poster {
    color: var(--mat-sys-on-background);
    justify-content: space-between;
    height: 100%;
    img {
      max-height: 320px;
      object-fit: cover;
    }

    .text-content {
      padding: 20px 12px;
      gap: 10px;
    }
  }
}

.date {
  color: var(--mat-sys-outline);
}

:host:hover {
  box-shadow: $shadow-hover;
  transition: all 0.3s;
}

@media (max-width: 1100px) {
  :host {
    flex: 0 0 calc(100% / 3 - 20px);
  }
}

@media (max-width: 768px) {
  :host {
    flex: 0 0 calc(100% / 1 - 20px);
  }
}
