@use '../../../../variables' as *;

:host {
  border-radius: 20px;
  box-shadow: $shadow;
  flex: 0 0 calc(100% / 5 - 20px);
  overflow: hidden;
  margin: 10px;
  transition:
    max-height 0.5s ease-in-out,
    opacity 0.3s ease;
  cursor: pointer;
  .poster {
    text-decoration: none;
    color: var(--mat-sys-on-background);
    justify-content: flex-start;
    gap: 20px;
    height: 100%;
    transition: box-shadow 0.3s;
    img {
      max-height: 320px;
      object-fit: cover;
    }

    .text-content {
      padding: 20px 12px;
      gap: 10px;
    }
  }
}

.date {
  color: var(--mat-sys-outline);
}

@media (max-width: 1100px) {
  :host {
    flex: 0 0 calc(100% / 3 - 20px);
  }
}

@media (max-width: 768px) {
  :host {
    flex: 0 0 calc(100% / 1 - 20px);
  }
}
