@use '../../../../variables' as *;

:host {
  border-radius: 20px;
  box-shadow: 0 0 5px 0 var(--mat-sys-secondary);
  height: 400px;
  flex: 0 0 calc(100% / 5 - 20px);
  overflow: hidden;
  margin: 10px;
  transition:
    max-height 0.5s ease-in-out,
    opacity 0.3s ease;
  .poster {
    text-decoration: none;
    color: var(--mat-sys-on-background);
    justify-content: flex-start;
    gap: 20px;
    height: 100%;
    img {
      width: 100%;
      height: 320px;
      object-fit: cover;
    }

    .text-content {
      padding: 0 0 5px 20px;
      gap: 10px;
    }
  }
}

:host:hover {
  transform: scale(105%);
  cursor: pointer;
  transition: all 0.3s;
}

@media (max-width: 1100px) {
  :host {
    flex: 0 0 calc(100% / 3 - 20px);
  }
}

@media (max-width: 768px) {
  :host {
    flex: 0 0 calc(100% / 1 - 20px);
  }
}
