// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming

/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@use './variables' as *;

html {
  color-scheme: light dark;
  height: 100%;

  @include mat.theme(
    (
      color: (
        primary: mat.$cyan-palette,
        tertiary: mat.$orange-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

*,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light dark;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
}

h2 {
  font-size: 28px;
  font-weight: 600;
}

h3 {
  font-size: 24px;
  font-weight: 500;
}

h4 {
  font-size: 20px;
  font-weight: 400;
}

li {
  list-style-type: none;
}

li a {
  text-decoration: none;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.content-section {
  width: 100%;
  padding: 0 20px;
}

.content-block {
  max-width: 1320px;
  width: 100%;
  gap: 20px;
}

.item-wrapper {
  border-radius: 20px;
  box-shadow: 0 0 5px 0 var(--mat-sys-secondary);
  overflow: hidden;
  margin: 10px;
}

.item-wrapper:hover {
  transform: scale(105%);
  cursor: pointer;
  transition: all 0.3s;
}

a:hover {
  .poster {
    box-shadow: $shadow-hover;
  }
}
