body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
button {
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}
