body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
button {
  padding: 0;
  margin: 0;
}

button,
a {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.content-section {
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}

.content-block {
  max-width: 1320px;
  width: 100%;
}
