@use '../../../../../variables' as *;

:host {
  border-radius: 20px;
  box-shadow: 0 0 5px 0 white;
  height: 100%;
  flex: 0 0 calc(100% / 5 - 19px);
  overflow: hidden;
  img {
    width: 100%;
    height: 225px;
    display: block;
  }

  .text-content {
    padding-left: 20px;
  }
}
